[build]
  command = "pnpm install && pnpm sdk:build && cd packages/nextjs-showcase && pnpm run build"
  publish = "packages/nextjs-showcase/.next"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
