[build]
  command = "pnpm install && pnpm sdk:build && cd packages/vue-showcase && pnpm run build"
  publish = "packages/vue-showcase/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
