[build]
  command = "pnpm install && pnpm sdk:build && cd packages/react-showcase && cp -r ../fhevm-sdk/dist ./node_modules/@fhevm-sdk && pnpm run build"
  publish = "packages/react-showcase/build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
