[build]
  command = "pnpm install && pnpm --filter react-showcase run build"
  publish = "packages/react-showcase/build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
